html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: lightgreen;
}

.kodluyoruz-link {
  background-color: orange;
  color: white;
  padding: 10px;

  &:hover {
    opacity: 70%;
    color: white !important;
  }
}

.navbar-nav .nav-link {
  font-size: 16px;
}

@media (max-width: 576px) {
  .navbar-brand,
  .nav-link {
    font-size: 14px;
  }
}

main {
  padding: 30px;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}

figure {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;

  .budgie-img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    object-fit: cover;
    border: 7px solid;
    box-shadow: 1px 1px 10px 1px;
  }

  figcaption {
    border: 3px solid;
    padding: 7px;
    box-shadow: 1px 1px 10px 1px;
  }
}

article {
  margin-top: 30px;
  max-width: 700px;

  h2 {
    text-align: center;
  }

  ol,
  ul {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    margin-top: 20px;
  }

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    font-weight: 500;
  }

  .cover-img {
    margin-left: auto;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    box-shadow: 1px 1px 10px 1px;
  }
}

footer {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  background-color: white;
  width: 100%;
  padding: 7px;

  .icon-img {
    display: inline;
    height: 30px;
    width: 30px;
    transition: transform 0.5s ease-in-out;

    &:hover {
      transform: rotate(360deg) scale(1.2);
    }
  }
}
